.App {
  text-align: center;
  margin: 10px;
}

.input_item {
  padding: 2px;
  width: 200px;
  height: 25px;
  border: 1px solid gray;
  border-radius: 3px;
}

.list_item {
  display: flex;
  float:inline-start;
  height: 30px;
  margin: 15px 15px;
  padding: 5px;
  align-items: baseline;
  justify-content: center;
}

.dlt_btn {
  margin: 10px 10px;
}

.btn {
  margin: 10px;
  padding: 2px;
  height: 30px;
  width: 80px;
  border: 1px solid gray;
  border-radius: 4px;
  font-weight: 700;
}